{% extends "layouts/base.twig" %}
{% block content %}
<section class="ch-hero-tools" style="background-image: url(https://www.chartinghockey.ca/wp-content/uploads/2019/10/goalie-header.jpg);">
  <div class="ch-container">
    <div class="ch-row">
      <div class="ch-col-xs-6">
        <h1 class="title-1 text-yellow text-center">404</h1>
                </div>
    </div>
  </div>
  <div class="ch-hero-tools-filter1"></div>
  <div class="ch-hero-tools-filter2"></div>
  <img class="ch-hero-tools-pattern" src="https://www.chartinghockey.ca/wp-content/themes/es/library/images/triangles-layer@2x.png" alt="">
</section>
<section class="xs-mt-50 xs-mb-50 sm-mt-100 sm-mb-100">
  <div class="ch-container">
    <div class="ch-row">
      <div class="ch-col-xs-6 ch-col-sm-4 ch-offset-sm-1">

        <h2 class="title-3 text-dark">Sorry! The page you are looking for is unavailable. Please use the nav to find your page.</h2>
      </div>
    </div>
  </div>
</section>
{% endblock %}
