.ch-footer {
  z-index: 3;
  position: relative;

  &-wrapper {
    border-top: 3px solid $fill-purple;
  }

  .link-logo {

    img {
      max-width: pxem(170);
      width: 60%;

      @include mq($from: $breakpoint-small) {
        width: 70%;
      }

      @include mq($from: $breakpoint-medium) {
        width: 100%;
      }
    }
  }

  &-links,
  &-social {

    @include mq($from: $breakpoint-small) {
      align-self: flex-end;
    }

  }

}
