.ch-nav {

  &-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    @include mq($from: $breakpoint-medium) {
      display: none;
    }

    // .hamburger--slider .hamburger-inner:after {

    // }

    &-content {
      position: fixed;
      top: 0;
      transform: translateX(110%);
      transition: transform 240ms $t-1;
      background-image: linear-gradient(90deg, #594BCC 0%, #76288C 100%);
      width: 100vw;
      height: 100vh;
      display: flex;
      border-top: 3px solid $fill-purple;
      padding: pxem(20) 0;
      z-index: 1;

      &-links {
        margin-top: pxem(65);
      }

      li {
        margin: pxem(10) 0;

        a {

          &:after {
            background-color: rgba($fill-yellow, 0);
          }

          &:hover {

            &:after {
              background-color: rgba($fill-yellow, 1);
            }
          }
        }

        &.active {

          a {

            &:after {
              background-color: rgba($fill-yellow, 1);
              width: 100%;
            }
          }
        }

        &.has-dropdown {

          // &:after {
          //   display: none;
          // }

          // > a:after {
          //   display: inline-block;
          //   margin: pxem(4) 0 0 pxem(6);
          //   content: "";
          //   width: 0;
          //   height: 0;
          //   border-style: solid;
          //   border-width: 0 5px 8.7px 5px;
          //   border-color: transparent transparent $fill-white transparent;
          //   transform: rotate(180deg);
          // }

          .ch-mobile-dropdown {
            // height: 0;
            // padding: 5px 20px;
            // transition: height 240ms $t-1;
            // display: none;
            margin: 5px 0 5px 15px;

            // &:hover,
            // &.-open {
            //   height: 100%;
            //   display: block;
            //   transition: height 240ms $t-1;
            // }
          }
        }
      }

      &.-show {
        transform: translateX(20px);
        transition: transform 250ms $t-1;
      }
    }
  }

  .hamburger {
    z-index: 2;

    .hamburger-inner {
      background-color: $fill-black;

      &:before,
      &:after {
        background-color: $fill-black;
      }
    }

    &.is-active {

      .hamburger-inner {
        background-color: $fill-white;

        &:before,
        &:after {
          background-color: $fill-white;
        }
      }
    }
  }

  &-mobile-light {

    .hamburger {
      z-index: 2;

      .hamburger-inner {
        background-color: $fill-white;

        &:before,
        &:after {
          background-color: $fill-white;
        }
      }
    }
  }
}