.ch-nav {

  &-logo {
    position: relative;
    z-index: 2;

    img {
      max-width: pxem(170);
      width: 60%;

      @include mq($from: $breakpoint-small) {
        width: 70%;
      }

      @include mq($from: $breakpoint-medium) {
        width: 100%;
      }
    }

  }

  &-desktop {
    display: none;
    z-index: 3;

    @include mq($from: $breakpoint-medium) {
      display: inline-block;
    }

    li {
      padding: 0 12px;

      a {
        position: relative;
        padding-bottom: 5px;

        &:after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 0%;
          height: 3px;
          background-color: rgba($fill-purple, 0);
          transition: background-color 200ms 50ms $t-1, width 200ms $t-1;
        }

        &:hover {

          &:after {
            background-color: rgba($fill-purple, 1);
            width: 100%;
          }
        }
      }

      &.active {

        a {

          &:after {
            background-color: rgba($fill-purple, 1);
            width: 100%;
          }
        }
      }

      &.-has-dropdown {
        position: relative;
        z-index: 0;
        display: flex;

        &:after {
          margin: pxem(9) 0 0 4px;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 8.7px 5px;
          border-color: transparent transparent $fill-purple transparent;
          transform: rotate(180deg);
        }

        .ch-nav-dropdown {
          position: absolute;
          top: 100%;
          right: 0;
          min-width: pxem(250);
          opacity: 0;
          z-index: -1;
          display: none;
          transition: opacity 240ms $t-1;

          ul {
            padding: pxem(10) pxem(16);
            background-color: #fff;
            box-shadow: $gif-shadow;
            width: 100%;
          }

          li {
            padding: 5px 0;
          }

          a {
            transition: color 240ms $t-1;
            display: block;

            &:after {
              display: none;
            }

            &:hover {
              color: $fill-purple;
              transition: color 240ms $t-1;
              text-decoration: underline;
            }
          }

          li.active {

            a:after {
              display: none;
            }
          }
        }

        &:hover {

          .ch-nav-dropdown {
            transition: opacity 240ms $t-1;
            display: block;
            opacity: 1;
            z-index: 1;
          }
        }
      }

      &:last-of-type {
        padding: 0 0 0 12px;

        &.-has-dropdown {

          .ch-nav-dropdown {
            right: -20px;
          }
        }
      }
    }
  }

  &-light {

    .ch-nav-desktop {
      display: none;

      @include mq($from: $breakpoint-medium) {
        display: inline-block;
      }
    }

    .link-nav {
      color: $fill-white;

      &:hover {
        color: darken($fill-white, 10%);
      }
    }

    li {

      a {

        &:after {
          background-color: rgba($fill-yellow, 0);
        }

        &:hover {

          &:after {
            background-color: rgba($fill-yellow, 1);
          }
        }
      }

      &.active {

        a {

          &:after {
            background-color: rgba($fill-yellow, 1);
            width: 100%;
          }
        }
      }

      &.-has-dropdown {

        &:after {
          border-color: transparent transparent $fill-white transparent;
        }

        .ch-nav-dropdown {

          a {
            color: $fill-black;
          }
        }
      }
    }
  }
}
