// Text Colors
// -------------------------

$text-colors: (
  white: (
    base: $fill-white
  ),
  dark: (
    base: $fill-black
  ),
  light-purple: (
    base: $fill-light-purple
  ),
  yellow: (
    base: $fill-yellow
  ),
  red: (
    base: $fill-red
  ),
  purple: (
    base: $fill-purple
  )
);

.text {
  @include modifiers($text-colors, "color", "-", "-", "base");
}

// Fill Colors
// --------------------------

$fill-colors: (
  white: (
    base: $fill-white
  ),
  dark: (
    base: $fill-black
  ),
  light-purple: (
    base: $fill-light-purple
  ),
  yellow: (
    base: $fill-yellow
  ),
  red: (
    base: $fill-red
  ),
  purple: (
    base: $fill-purple
  ),
  body: (
    base: $fill-body
  )
);

.fill {
  @include modifiers($fill-colors, "background-color", "-", "-", "base");
}
