

@mixin roboto-bold {
  font-family: "robotobold";
}

@mixin roboto-bold-italic {
  font-family: "robotobold_italic";
}

@mixin roboto-italic {
  font-family: "roboto_italic";
}

@mixin roboto-medium {
  font-family: "robotomedium";
}

@mixin roboto-medium-italic {
  font-family: "robotomedium_italic";
}

@mixin plex-mono {
  font-family: "ibm_plex_monobold";
}

@mixin plex-regular {
  font-family: "ibm_plex_serifregular";
}

@mixin plex-regular-italic {
  font-family: "ibm_plex_serifitalic";
}

@mixin plex-medium {
  font-family: "ibm_plex_serifmedium";
}

@mixin plex-medium-italic {
  font-family: "ibm_plex_serifmedium_italic";
}

@mixin plex-semibold {
  font-family: "ibm_plex_serifsemibold";
}

@mixin plex-semibold-italic {
  font-family: "ibm_plex_serifsemibold_italic";
}

@mixin plex-bold {
  font-family: "ibm_plex_serifbold";
}

@mixin plex-bold-italic {
  font-family: "ibm_plex_serifbold_italic";
}