<div class="gc-event-schedule -white-bg">
  <div class="gc-container">
    <div class="gc-row">
      <div class="gc-heading-col">
        <h2>{{ item.section_title }}</h2>
        {% if item.event_disable %}
          <p>{{ item.section_text }}</p>
        {% endif %}
      </div>
    </div>
    {% if not item.event_disable %}
      {% include 'partials/schedule/content.twig' %}
    {% endif %}
  </div>
</div>
