<div class="ch-cta-light">
  <div class="ch-container">
    <div class="ch-row align-center">
      {# <div class="ch-col-xs-6 ch-col-sm-3">
        <img src="{{theme.link}}/library/images/cta-image@2x.png" alt="Charting Hockey Logo">
      </div> #}
      <div class="ch-col-xs-6 ch-col-sm-4 ch-offset-sm-1 xs-mt-30">
        <h2 class="title-4 text-dark xs-mb-30 text-center">Sorry, this content is for current patrons only</h2>
        <img src="{{theme.link}}/library/images/cta-image@2x.png" alt="Charting Hockey Logo">
        <p class="text-18 text-dark xs-mt-30 xs-mb-30 text-center">Support Charting Hockey on Patreon and get access to exclusive tools and visualizations like Lines & Pairs data or Teams Over Time for just $10/mo.</p>
        <div class="ch-cta-buttons">
          <a href="https://www.patreon.com/join/chartinghockey?" target="_blank" class="button button-hollow text-button text-purple caps">Become a patron</a>
          <span class="text-16-italic text-dark">or</span>
          {% filter shortcodes %}
            [patreon_login_button]
          {% endfilter %}
        </div>
      </div>
    </div>
  </div>
</div>