<div class="ch-cta xs-mt-50 xs-pt-70 xs-pb-70">
  <div class="ch-container">
    <div class="ch-row align-center">
      <div class="ch-col-xs-6 ch-col-sm-3">
        <img src="{{theme.link}}/library/images/cta-image@2x.png" alt="Charting Hockey Logo">
      </div>
      <div class="ch-col-xs-6 ch-col-sm-3">
        <h2 class="title-4 text-white xs-mb-10 sm-mb-20">Want access to all tools &amp; vizs?</h2>
        <p class="text-18 text-white xs-mb-15 sm-mb-30">Support Charting Hockey on Patreon and get access to exclusive tools and visualizations like Lines & Pairs data or Teams Over Time for just $10/mo.</p>
        <a href="https://www.patreon.com/join/chartinghockey?" target="_blank" class="button button-hollow-white text-button text-white caps">Become a patron</a>
      </div>
    </div>
  </div>
</div>