<section class="ch-hero ch-hero-no-image">
    <div class="ch-container">
      <div class="ch-row">
        <div class="ch-col-xs-6">
          <h1 class="title-1 text-dark text-center">{{ item.title }}</h1>
        </div>
      </div>
    </div>
  </section>