<section class="ch-community-cta" {{ add_top_border_speaker == false ? 'style="padding-top:0;"' : '' }}>
  <div class="ch-container">
    <div class="ch-row {{ (item.add_top_border == true ) ? 'border-top' : 'no-border' }}">
      <div class="ch-community-cta-left">
        {% if item.cta_title is not empty %}
          <h3 class="ch-community-cta-title">{{ item.cta_title }}</h2>
        {% endif %}
        {% if item.cta_desc is not empty %}
          <p class="ch-community-cta-copy">{{ item.cta_desc }}</p>
        {% endif %}
      </div>
      <div class="ch-community-cta-right">
        <div class="ch-community-cta-input-group">
          <div id="mc_embed_signup">
              <form action="//heavywater.us6.list-manage.com/subscribe/post?u=576e632588&amp;amp;id=2e5efd43d8" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
                <input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Your Email" class="ch-input">
                <button class="ch-button" type="submit" id="mce-embedded-subscribe">Sign Up!</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
