<div class="grid-lines">
  <div class="ch-container">
    <div class="ch-row">
      <div class="grid-lines-col">
        <div class="grid-lines-col-inner"></div>
      </div>
      <div class="grid-lines-col">
        <div class="grid-lines-col-inner"></div>
      </div>
      <div class="grid-lines-col">
        <div class="grid-lines-col-inner"></div>
      </div>
      <div class="grid-lines-col">
        <div class="grid-lines-col-inner"></div>
      </div>
      <div class="grid-lines-col">
        <div class="grid-lines-col-inner"></div>
      </div>
      <div class="grid-lines-col">
        <div class="grid-lines-col-inner"></div>
      </div>
    </div>
  </div>
</div>